<div class="container">
  <div class="text-center" style="font-size:2em; margin-top:100px; margin-bottom:-100px">    <img src="https://www.tunecore.com/images/tc_logos/color/TuneCore_PNG_white_color_horizontal.png" alt="Tunecore">
  </div>
  <div class="text-center" style="margin-top:80px; margin-bottom:-130px; font-size:1.5em">
    SONGS. ARTISTS. ALBUMS.
  </div>
  <form class="form-wrapper cf">
      <div class="search">
        <input type="text" name="search" placeholder="Search..">

        <%= form_tag(songs_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Songs" %>
        <%= submit_tag "Search" %>
        <% end %>

        <% if @songs.present? %>
          <%= render @songs %>
        <% else %>
          <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
        <% end %>

        <button type="submit">Search</button>
      </div>
  </form>
</div>

<video autoplay loop id="bgvid">
  <source src="http://ryanj.tech/concert.mp4" type="video/mp4">
</video>
